# React Native
# Builds
android/app/build/
ios/build/
*.apk
*.aab
node_modules

# macOS
.DS_Store

# Visual Studio Code
.vscode/
*.code-workspace

# Other
.env
.env.*  # Ignorar arquivos de ambiente
*.swp  # Ignorar arquivos de swap do vim
*.sublime-workspace  # Ignorar arquivos do Sublime Text
*.sublime-project  # Ignorar arquivos do Sublime Text

# Android
android/.gradle/
android/.idea/
android/local.properties

# iOS
ios/Pods/
ios/DerivedData/
ios/*.xcodeproj/
ios/*.xcworkspace/
ios/*.xcuserdata/
ios/Runner.xcworkspace/

# Misc
.idea/
*.iml

# Build directories
build/
dist/
